Q1. How do you comment code in Python? What are the different types of comments?

Commenting in python can be done in three ways such as,
1) Single line comment - By using # on the statement
2) Multi Line comment - By using # on each line
3) Doc string - We can write the paragraph inside """ """ triple quotes.

Examples:

In [1]:
# single line comment

In [2]:
# This is multi
# line comment

In [3]:
"""
This is doc string comment
"""

'\nThis is doc string comment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are the symbolic names which refer to the object in backend and data/values which are assigned to that variable are stored in that object. 

Example:

In [4]:
var_1 = "Rupesh"

In [5]:
var_2 = 12

In [6]:
var_1

'Rupesh'

In [7]:
var_2

12

Q3. How do you convert one data type to another in Python?

One data type can be converted into another by using type casting.

Example:

In [9]:
type(var_2)

int

In [10]:
str(var_2)

'12'

In [12]:
type_casted_var = type(var_2)

In [13]:
type_casted_var

int

Q4. How do you write and execute a Python script from the command line?

To write and execute python script from command line we can follow the following steps:
1) open terminal and write python (python variable should be set)
2) write your code block and after clicking enter python code block will be executed
3) If you have your script in file then move to that folder through cmd and execute this command "python file_name.py"

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
 my_list = [1, 2, 3, 4, 5]

In [7]:
list_ = []

In [8]:
list_.append(my_list[1])

In [9]:
list_.append(my_list[2])

In [10]:
list_

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex number in mathematics is the combination of real and imaginary numbers, i.e. a + ib where a and b stands for real number and i stands for imaginary number.

It is represented in python by using complex data type
example:

In [11]:
3+4j

(3+4j)

In [12]:
type(3+4j)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [15]:
price = 99.9

In [16]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [17]:
name = "Rupesh Sanjay Neve"

In [18]:
print(name)

Rupesh Sanjay Neve

Q10. Given the string "Hello, World!", extract the substring "World".

In [19]:
string = "Hello, World!"

In [22]:
sub_str = string[7:12]

In [23]:
sub_str

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [24]:
is_student = True

In [25]:
is_student

True