Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str = "Hello"

In [2]:
l = [1,2,33,44,"","Hello there",str]

In [3]:
float_num = 12.56

In [4]:
tuple1 = ("abc", 34, True, 40, "male")

In [14]:
print(type(str), type(l), type(float_num), type(tuple1))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [17]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [18]:
print(type(var1), type(var2), type(var3), type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
# "/" is the division operator and gives exact value with decimals
a = 20
b = 2
c = a/b
print(c)

10.0

In [21]:
# "%" is the modulas operator and gives remainder value
a = 20
b = 6
c = a%b
print(c)

2

In [22]:
# "//" is the floor operator and gives quotient value
a = 20
b = 6
c = a//b
print(c)

3

In [23]:
# "**" is the exponential operator and gives exponent value
a = 20
b = 6
c = a**b
print(c)

64000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [24]:
l = [1,2,33,44,"","Hello there",str,True,['4','list'],4.3]

In [25]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
33
<class 'int'>
44
<class 'int'>

<class 'str'>
Hello there
<class 'str'>
Hello
<class 'str'>
True
<class 'bool'>
['4', 'list']
<class 'list'>
4.3
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [45]:
a = 12000000000
b = 2
count = 0
while a%b == 0:
    a = a//b
    count +=1
print(count)

11

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
l = []
for i in range(1,26):
    l.append(i)

In [50]:
for i in l:
    if i % 3 == 0:
        print(f"Number {i} is divisible by 3")
    else:
        print(f"Number {i} is not divisible by 3")

Number 1 is not divisible by 3
Number 2 is not divisible by 3
Number 3 is divisible by 3
Number 4 is not divisible by 3
Number 5 is not divisible by 3
Number 6 is divisible by 3
Number 7 is not divisible by 3
Number 8 is not divisible by 3
Number 9 is divisible by 3
Number 10 is not divisible by 3
Number 11 is not divisible by 3
Number 12 is divisible by 3
Number 13 is not divisible by 3
Number 14 is not divisible by 3
Number 15 is divisible by 3
Number 16 is not divisible by 3
Number 17 is not divisible by 3
Number 18 is divisible by 3
Number 19 is not divisible by 3
Number 20 is not divisible by 3
Number 21 is divisible by 3
Number 22 is not divisible by 3
Number 23 is not divisible by 3
Number 24 is divisible by 3
Number 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [51]:
l = [1,2,3]
str = "rupesh"

#here we can change the value in the list and that is called as utable objects
l[1] = 20

In [52]:
l

[1, 20, 3]

In [53]:
# here we cannot change the element in string and that is called as immutbale objects
str[1] = "a"

TypeError: 'str' object does not support item assignment